*.swp
.DS_Store
/node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
/index.js
/index.js.map
/register.js
/register.js.map

# Yarn 2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
